/* Divider Widget - simple horizontal separator line */

.divider-widget {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.divider-line {
  width: 100%;
  height: 1px;
  background: var(--color-border);
  opacity: 0.3;
}
