/* Spacer Widget - visible spacer with divider line */

.spacer-widget {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.spacer-line {
  width: 100%;
  height: 1px;
  background: var(--color-border);
  opacity: 0.3;
}
